@import "../../../globalStyles/scss/variables.scss";

.product-list-item {
  text-align: center;

  &__title {
    text-transform: $product-item-title-text-transform;
    font-weight: $product-item-title-font-weight;
    margin-top: $spacer;
    text-align: center;
    color: $lightBrown;
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $lightBrown;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__category {
    color: rgb(34, 34, 104);
    text-align: center;
    color: $darkGreen;
  }

  &__price {
    font-weight: $product-item-price-font-weight;
    margin-bottom: 4vh;
    margin-top: 1vh;
    text-align: left;
    color: $lightBrown;
  }

  &__image {
    background-color: $turquoise-light;
    display: flex;
    height: 200px;
    justify-content: center;

    img {
      object-fit: contain;
      max-width: 100%;
    }

    @media (max-width: $small-screen) {
      height: 210px;
    }
  }
}
